.button {
    -fx-background-color: #f869f8;
    -fx-text-fill: black;
    -fx-font-size: 24px;
}
.button:hover{
    -fx-opacity: 0.8;

}

.label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 16px;
}
