/* Button styling */
#menu_btn {
    -fx-background-color: rgb(240, 255, 184);
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: black;
}

#menu_btn:hover {
    -fx-background-color: black;
    -fx-text-fill: rgb(240, 255, 184);
}

#menu_btn:pressed{
    -fx-opacity: 0.85;
}


/*ty Change background color of the menu_pane when button is pressed */

/* Tooltip styling */
.tooltip {
    -fx-background-color: rgba(0, 0, 255, 0.35);
    -fx-text-fill: #ffdbff;
    -fx-font-weight: 700;
    -fx-font-family: "Bodoni MT Condensed";
    -fx-padding: 5px;
    -fx-font-size: 16px;
}

#menu_pane {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-focus-traversable: false;
    -fx-opacity: 0;
    -fx-pointer-events: none;
    -fx-mouse-transparent: true; /* Allow interaction with elements underneath */

}

#close_btn {
    -fx-background-color: orange;
    -fx-padding: 2px;
}

#desc {
    -fx-opacity: 1;
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-family: "Bodoni MT Condensed";
    -fx-padding: 1px;
    -fx-font-size: 22px;
    -fx-wrap-text: true;
    -fx-font-weight: 700;

}
#desc .content {
    -fx-background-color: transparent;
}
#desc .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
#name{
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Bodoni MT Condensed";
    -fx-padding: 1px;
    -fx-font-size: 22px;
    -fx-wrap-text: true;
    -fx-font-weight: 700;

}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
